/* Bordered form */
*{
  font-family:Arial, Helvetica, sans-serif;
}
.imgfondo {
display: block;
background-repeat: no-repeat;
width:  100%;
background-color: rgb(0, 0, 0);
top: 0px;
}

form {
background-color: rgba(131, 255, 131, 0.5);
width: 40%;
border: 10px solid #f1f1f1;
margin-left: 30%;
margin-top: 20px;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

/* Set a style for all buttons */
button {
background-color: #15b300;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
}

#logearse {
display: block;
margin-left: auto;
margin-right: auto;
}

/* Add a hover effect for buttons */
button:hover {
opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
width: 30%;
border-radius: 100%;
}

/* Add padding to containers */
.container {
align-items: center;
padding: 16px;
}

/* The "Forgot password" text */
span.psw {
float: right;
padding-top: 16px;
}

.oc {
float: right;
}

header {
background: black;
color: chartreuse;
height: 100px;
line-height: 0px;
display: block;
left: 0;
width: 100%;
top: 0;
}

nav {
float: right;
}

header li {
float: right;
list-style: none;
padding: 15px;
}

.logo_nav {
height: 60px;
padding: 15px;
}

header nav.container ul li  a {
color: rgb(255, 255, 255);
font-size: x-large;
text-decoration: none;
border-left: 3px solid chartreuse;
padding-left: 10px;
}
header nav.container ul li  a:hover{
color: yellowgreen;
}


footer {
background: black;
color: chartreuse;
height: 50px;
line-height: 50px;
text-align: center;
position: relative;
bottom: 0;
left: 0;
width: 100%;
}


.lateral{
position: absolute;
left: 0;
top: 120px;
background-color: rgba(0, 0, 0, 0.8);
}

.lateral ul{
  list-style: none;
}

.lateral li a{
  color: rgb(255, 255, 255);
  display: block;
  text-align: left;
  font-size: larger;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  margin-left: 0px;
  border-left: 4px solid chartreuse;
}

li a:hover{
  color: yellowgreen;
}

h2{
  color: chartreuse;
  text-align: left;
  margin-left:  15px;
  margin-right: 15px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
  display: block;
  float: none;
}

.cancelbtn {
  width: 100%;
}
}
