.container {
    vertical-align: middle;
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-top: 2.5%;
    align-items: center;
    padding: 10px;
    background-color: beige;
}
input[type=text],
input[type=number] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.ta.ti{
    width: 20%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
}

button {
    background-color: #04AA6D;
    color: white;
    /*padding: 14px 20px;*/
    margin: 8px 0;
    border: none;
    cursor: pointer;
   
}



/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.btn {
    width: auto;
    padding: 10px 18px;
    background-color: #4de27f;
}